<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">


<div class="container">
    <div class="search-container">
      <input type="text" class="search-input" [(ngModel)]="searchQuery" placeholder="Enter city name">
      <button class="search-button" (click)="searchWeather()">Search</button>
    </div>
    
    <div *ngIf="weatherdata.name">
      <div class="weather-icon">
        <i class="fas" [ngClass]="weatherdata.isDay ? 'fa-sun' : 'fa-moon'"></i>
      </div>
      <div class="temperature">{{weatherdata.temp_celcius}}°C</div>
      <div class="city-name">{{weatherdata.name}}</div>
      
      <div class="weather-details">
        <div class="weather-detail">
          <div class="weather-detail-label">Min</div>
          <div class="weather-detail-value">{{weatherdata.temp_min}}°C</div>
        </div>
        <div class="weather-detail">
          <div class="weather-detail-label">Max</div>
          <div class="weather-detail-value">{{weatherdata.temp_max}}°C</div>
        </div>
        <div class="weather-detail">
          <div class="weather-detail-label">Feels Like</div>
          <div class="weather-detail-value">{{weatherdata.feels_like}}°C</div>
        </div>
        <div class="weather-detail">
          <div class="weather-detail-label">Humidity</div>
          <div class="weather-detail-value">{{weatherdata.humidity}}%</div>
        </div>
      </div>
    </div>
    
    <div *ngIf="!weatherdata.name" class="no-data">
      No weather data available. Please search for a city.
    </div>
  </div>
  
  